In [1]:
import pandas as pd 
import numpy as np

#### 首先读入数据文件city_GDP.xls

In [2]:
df = pd.read_excel('data/city_GDP.xls')
df[:5]

   Unnamed: 0    地区     2018年     2017年     2016年     2015年     2014年  序号
0           0    北京  30319.98  28014.94  25669.13  23014.59  21330.83   1
1           1    天津  18809.64  18549.19  17885.39  16538.19  15726.93   2
2           2   石家庄      1.00   6460.88   5927.73   5440.60   5170.27   3
3           3    太原      1.00   3382.18   2955.60   2735.34   2531.09   4
4           4  呼和浩特      1.00   2743.72   3173.59   3090.52   2894.05   5

## 数据格式转换
   - 在做数据分析的时候，原始数据往往会因为各种个各样的原因产生各种数据格式的问题

### 查看格式

In [3]:
df['2018年'].dtype

dtype('float64')

#### 转换格式

In [4]:
#将'2018年'列由'float64'转化为'int'
df['2018年'] = df['2018年'].astype('int')
df[:5]

   Unnamed: 0    地区  2018年     2017年     2016年     2015年     2014年  序号
0           0    北京  30319  28014.94  25669.13  23014.59  21330.83   1
1           1    天津  18809  18549.19  17885.39  16538.19  15726.93   2
2           2   石家庄      1   6460.88   5927.73   5440.60   5170.27   3
3           3    太原      1   3382.18   2955.60   2735.34   2531.09   4
4           4  呼和浩特      1   2743.72   3173.59   3090.52   2894.05   5

## 排序

#### 默认排序

In [5]:
df[:5]

   Unnamed: 0    地区  2018年     2017年     2016年     2015年     2014年  序号
0           0    北京  30319  28014.94  25669.13  23014.59  21330.83   1
1           1    天津  18809  18549.19  17885.39  16538.19  15726.93   2
2           2   石家庄      1   6460.88   5927.73   5440.60   5170.27   3
3           3    太原      1   3382.18   2955.60   2735.34   2531.09   4
4           4  呼和浩特      1   2743.72   3173.59   3090.52   2894.05   5

#### 按照2017年的GDP进行排序

In [6]:
#升序排列
df.sort_values(by='2017年')

    Unnamed: 0          地区  2018年     2017年     2016年     2015年     2014年  序号
30          30          拉萨      1    479.25    424.95    376.73    347.45  31
33          33          西宁      1   1284.91   1248.17   1131.62   1065.78  34
25          25          海口      1   1390.58   1257.67   1161.96   1091.70  26
36          40          进贤   1234   2132.00   2354.00   3215.00   4356.00  37
32          32          兰州      1   2523.54   2264.23   2095.99   2000.94  33
4            4        呼和浩特      1   2743.72   3173.59   3090.52   2894.05   5
34          35        乌鲁木齐      1   2743.82   2458.98   2631.64   2461.47  35
3            3          太原      1   3382.18   2955.60   2735.34   2531.09   4
28          28          贵阳      1   3537.96   3157.70   2891.16   2497.27  29
24          24          南宁      1   4118.83   3703.39   3410.09   3148.30  25
15          15          厦门      1   4351.70   3784.27   3466.03   3273.58  16
29          29          昆明      1   4857.64   4300.08   3968.01   3712.99  30
16          16          南昌      1   5003.19   4354.99   4000.01   3667.96  17
5            5          沈阳      1   5864.97   5460.01   7272.31   7098.71   6
8            8         哈尔滨      1   6355.05   6101.61   5751.21   5340.07   9
2            2         石家庄      1   6460.88   5927.73   5440.60   5170.27   3
7            7          长春      1   6530.03   5917.94   5530.03   5342.43   8
14          14          福州      1   7103.40   6197.64   5618.08   5169.16  15
17          17          济南      1   7201.96   6536.12   6100.23   5770.60  18
13          13          合肥      1   7213.45   6274.38   5660.27   5157.97  14
6            6          大连      1   7363.92   6730.33   7731.64   7655.58   7
31          31          西安      1   7469.85   6257.18   5801.20   5492.64  32
19          19          郑州      1   9130.20   8025.31   7311.52   6776.99  20
12          12          宁波      1   9842.10   8686.49   8003.61   7610.28  13
21          21          长沙      1  10535.51   9455.36   8510.13   7824.81  22
18          18          青岛      1  11037.28  10011.29   9300.07   8692.10  19
10          10          南京      1  11715.10  10503.02   9720.77   8820.75  11
11          11          杭州      1  12603.36  11313.72  10050.21   9206.16  12
20          20          武汉      1  13410.34  11912.61  10905.60  10069.48  21
27          27          成都      1  13889.39  12170.23  10801.16  10056.59  28
1            1          天津  18809  18549.19  17885.39  16538.19  15726.93   2
26          26          重庆  20363  19424.73  17740.59  15717.27  14262.60  27
22          22          广州      1  21503.15  19547.44  18100.41  16706.87  23
23          23          深圳      1  22490.06  19492.60  17502.86  16001.82  24
0            0          北京  30319  28014.94  25669.13  23014.59  21330.83   1
9            9          上海  32679  30632.99  28178.65  25123.45  23567.70  10
35          36  数据来源：国家统计局      1       NaN       NaN       NaN       NaN  36

In [7]:
#降序排列
df.sort_values(by='2017年',ascending=False)

    Unnamed: 0          地区  2018年     2017年     2016年     2015年     2014年  序号
9            9          上海  32679  30632.99  28178.65  25123.45  23567.70  10
0            0          北京  30319  28014.94  25669.13  23014.59  21330.83   1
23          23          深圳      1  22490.06  19492.60  17502.86  16001.82  24
22          22          广州      1  21503.15  19547.44  18100.41  16706.87  23
26          26          重庆  20363  19424.73  17740.59  15717.27  14262.60  27
1            1          天津  18809  18549.19  17885.39  16538.19  15726.93   2
27          27          成都      1  13889.39  12170.23  10801.16  10056.59  28
20          20          武汉      1  13410.34  11912.61  10905.60  10069.48  21
11          11          杭州      1  12603.36  11313.72  10050.21   9206.16  12
10          10          南京      1  11715.10  10503.02   9720.77   8820.75  11
18          18          青岛      1  11037.28  10011.29   9300.07   8692.10  19
21          21          长沙      1  10535.51   9455.36   8510.13   7824.81  22
12          12          宁波      1   9842.10   8686.49   8003.61   7610.28  13
19          19          郑州      1   9130.20   8025.31   7311.52   6776.99  20
31          31          西安      1   7469.85   6257.18   5801.20   5492.64  32
6            6          大连      1   7363.92   6730.33   7731.64   7655.58   7
13          13          合肥      1   7213.45   6274.38   5660.27   5157.97  14
17          17          济南      1   7201.96   6536.12   6100.23   5770.60  18
14          14          福州      1   7103.40   6197.64   5618.08   5169.16  15
7            7          长春      1   6530.03   5917.94   5530.03   5342.43   8
2            2         石家庄      1   6460.88   5927.73   5440.60   5170.27   3
8            8         哈尔滨      1   6355.05   6101.61   5751.21   5340.07   9
5            5          沈阳      1   5864.97   5460.01   7272.31   7098.71   6
16          16          南昌      1   5003.19   4354.99   4000.01   3667.96  17
29          29          昆明      1   4857.64   4300.08   3968.01   3712.99  30
15          15          厦门      1   4351.70   3784.27   3466.03   3273.58  16
24          24          南宁      1   4118.83   3703.39   3410.09   3148.30  25
28          28          贵阳      1   3537.96   3157.70   2891.16   2497.27  29
3            3          太原      1   3382.18   2955.60   2735.34   2531.09   4
34          35        乌鲁木齐      1   2743.82   2458.98   2631.64   2461.47  35
4            4        呼和浩特      1   2743.72   3173.59   3090.52   2894.05   5
32          32          兰州      1   2523.54   2264.23   2095.99   2000.94  33
36          40          进贤   1234   2132.00   2354.00   3215.00   4356.00  37
25          25          海口      1   1390.58   1257.67   1161.96   1091.70  26
33          33          西宁      1   1284.91   1248.17   1131.62   1065.78  34
30          30          拉萨      1    479.25    424.95    376.73    347.45  31
35          36  数据来源：国家统计局      1       NaN       NaN       NaN       NaN  36

In [8]:
?df.sort_values

## 基本统计分析

   - 描述性统计
      - dataframe.describe():对dataframe中的数值型数据进行描述统计

In [9]:
df.describe()

,Unnamed: 0,2018年,2017年,2016年,2015年,2014年,序号
count,37.000000,37.000000,36.000000,36.000000,36.000000,36.000000,37.000000
mean,18.162162,2795.567568,9246.976944,8373.121944,7768.875278,7274.997778,19.000000
std,11.111839,8279.743543,7518.119327,6845.175490,6084.424744,5623.225584,10.824355
min,0.000000,1.000000,479.250000,424.950000,376.730000,347.450000,1.000000
25%,9.000000,1.000000,3973.612500,3570.940000,3361.317500,3242.260000,10.000000
50%,18.000000,1.000000,7152.680000,6227.410000,5776.205000,5417.535000,19.000000
75%,27.000000,1.000000,11937.165000,10705.695000,9803.130000,8917.102500,28.000000
max,40.000000,32679.000000,30632.990000,28178.650000,25123.450000,23567.700000,37.000000

#### 通过描述性统计，可以发现一些异常直，很多异常直往往需要我们去发现

   - 最值

In [10]:
df['2017年'].max()

30632.99

In [12]:
df['2017年'].min()

479.25

   - 均值和中值

In [13]:
#均值
df['2017年'].mean()

9246.976944444445

In [14]:
df['2017年'].median()

7152.68

   - 方差和标准差

In [15]:
# 方差
df['2017年'].var()

56522118.21871897

In [16]:
df['2017年'].std()

7518.119327246606

   - 求和

In [17]:
df['2017年'].sum()

332891.17

   - **相关系数，协方差**

In [19]:
df[['2017年','2016年']].corr()

          2017年     2016年
2017年  1.000000  0.998823
2016年  0.998823  1.000000

In [20]:
df[['2017年','2016年']].cov()

              2017年         2016年
2017年  5.652212e+07  5.140226e+07
2016年  5.140226e+07  4.685643e+07

   - 计数

In [21]:
len(df)

37

In [24]:
#唯一的数据出现个数
df['2017年'].unique()

array([28014.94, 18549.19,  6460.88,  3382.18,  2743.72,  5864.97,
        7363.92,  6530.03,  6355.05, 30632.99, 11715.1 , 12603.36,
        9842.1 ,  7213.45,  7103.4 ,  4351.7 ,  5003.19,  7201.96,
       11037.28,  9130.2 , 13410.34, 10535.51, 21503.15, 22490.06,
        4118.83,  1390.58, 19424.73, 13889.39,  3537.96,  4857.64,
         479.25,  7469.85,  2523.54,  1284.91,  2743.82,      nan,
        2132.  ])

#### 数据替换，有些数据可以归为一类

In [28]:
df['2017年'].replace(2132, 321,inplace=True)
df

    Unnamed: 0          地区  2018年     2017年     2016年     2015年     2014年  序号
0            0          北京  30319  28014.94  25669.13  23014.59  21330.83   1
1            1          天津  18809  18549.19  17885.39  16538.19  15726.93   2
2            2         石家庄      1   6460.88   5927.73   5440.60   5170.27   3
3            3          太原      1   3382.18   2955.60   2735.34   2531.09   4
4            4        呼和浩特      1   2743.72   3173.59   3090.52   2894.05   5
5            5          沈阳      1   5864.97   5460.01   7272.31   7098.71   6
6            6          大连      1   7363.92   6730.33   7731.64   7655.58   7
7            7          长春      1   6530.03   5917.94   5530.03   5342.43   8
8            8         哈尔滨      1   6355.05   6101.61   5751.21   5340.07   9
9            9          上海  32679  30632.99  28178.65  25123.45  23567.70  10
10          10          南京      1  11715.10  10503.02   9720.77   8820.75  11
11          11          杭州      1  12603.36  11313.72  10050.21   9206.16  12
12          12          宁波      1   9842.10   8686.49   8003.61   7610.28  13
13          13          合肥      1   7213.45   6274.38   5660.27   5157.97  14
14          14          福州      1   7103.40   6197.64   5618.08   5169.16  15
15          15          厦门      1   4351.70   3784.27   3466.03   3273.58  16
16          16          南昌      1   5003.19   4354.99   4000.01   3667.96  17
17          17          济南      1   7201.96   6536.12   6100.23   5770.60  18
18          18          青岛      1  11037.28  10011.29   9300.07   8692.10  19
19          19          郑州      1   9130.20   8025.31   7311.52   6776.99  20
20          20          武汉      1  13410.34  11912.61  10905.60  10069.48  21
21          21          长沙      1  10535.51   9455.36   8510.13   7824.81  22
22          22          广州      1  21503.15  19547.44  18100.41  16706.87  23
23          23          深圳      1  22490.06  19492.60  17502.86  16001.82  24
24          24          南宁      1   4118.83   3703.39   3410.09   3148.30  25
25          25          海口      1   1390.58   1257.67   1161.96   1091.70  26
26          26          重庆  20363  19424.73  17740.59  15717.27  14262.60  27
27          27          成都      1  13889.39  12170.23  10801.16  10056.59  28
28          28          贵阳      1   3537.96   3157.70   2891.16   2497.27  29
29          29          昆明      1   4857.64   4300.08   3968.01   3712.99  30
30          30          拉萨      1    479.25    424.95    376.73    347.45  31
31          31          西安      1   7469.85   6257.18   5801.20   5492.64  32
32          32          兰州      1   2523.54   2264.23   2095.99   2000.94  33
33          33          西宁      1   1284.91   1248.17   1131.62   1065.78  34
34          35        乌鲁木齐      1   2743.82   2458.98   2631.64   2461.47  35
35          36  数据来源：国家统计局      1       NaN       NaN       NaN       NaN  36
36          40          进贤   1234    321.00   2354.00   3215.00   4356.00  37

#### 替换一个列表的数据

In [33]:
df['2015年'].replace([2631.64,3215.00],[0,243],inplace=True)
df

    Unnamed: 0          地区  2018年     2017年     2016年     2015年     2014年  序号
0            0          北京  30319  28014.94  25669.13  23014.59  21330.83   1
1            1          天津  18809  18549.19  17885.39  16538.19  15726.93   2
2            2         石家庄      1   6460.88   5927.73   5440.60   5170.27   3
3            3          太原      1   3382.18   2955.60   2735.34   2531.09   4
4            4        呼和浩特      1   2743.72   3173.59   3090.52   2894.05   5
5            5          沈阳      1   5864.97   5460.01   7272.31   7098.71   6
6            6          大连      1   7363.92   6730.33   7731.64   7655.58   7
7            7          长春      1   6530.03   5917.94   5530.03   5342.43   8
8            8         哈尔滨      1   6355.05   6101.61   5751.21   5340.07   9
9            9          上海  32679  30632.99  28178.65  25123.45  23567.70  10
10          10          南京      1  11715.10  10503.02   9720.77   8820.75  11
11          11          杭州      1  12603.36  11313.72  10050.21   9206.16  12
12          12          宁波      1   9842.10   8686.49   8003.61   7610.28  13
13          13          合肥      1   7213.45   6274.38   5660.27   5157.97  14
14          14          福州      1   7103.40   6197.64   5618.08   5169.16  15
15          15          厦门      1   4351.70   3784.27   3466.03   3273.58  16
16          16          南昌      1   5003.19   4354.99   4000.01   3667.96  17
17          17          济南      1   7201.96   6536.12   6100.23   5770.60  18
18          18          青岛      1  11037.28  10011.29   9300.07   8692.10  19
19          19          郑州      1   9130.20   8025.31   7311.52   6776.99  20
20          20          武汉      1  13410.34  11912.61  10905.60  10069.48  21
21          21          长沙      1  10535.51   9455.36   8510.13   7824.81  22
22          22          广州      1  21503.15  19547.44  18100.41  16706.87  23
23          23          深圳      1  22490.06  19492.60  17502.86  16001.82  24
24          24          南宁      1   4118.83   3703.39   3410.09   3148.30  25
25          25          海口      1   1390.58   1257.67   1161.96   1091.70  26
26          26          重庆  20363  19424.73  17740.59  15717.27  14262.60  27
27          27          成都      1  13889.39  12170.23  10801.16  10056.59  28
28          28          贵阳      1   3537.96   3157.70   2891.16   2497.27  29
29          29          昆明      1   4857.64   4300.08   3968.01   3712.99  30
30          30          拉萨      1    479.25    424.95    376.73    347.45  31
31          31          西安      1   7469.85   6257.18   5801.20   5492.64  32
32          32          兰州      1   2523.54   2264.23   2095.99   2000.94  33
33          33          西宁      1   1284.91   1248.17   1131.62   1065.78  34
34          35        乌鲁木齐      1   2743.82   2458.98      0.00   2461.47  35
35          36  数据来源：国家统计局      1       NaN       NaN       NaN       NaN  36
36          40          进贤   1234    321.00   2354.00    243.00   4356.00  37

In [36]:
#计算2018年每个数值出现的次数
df['2018年'].value_counts()

1        32
18809     1
30319     1
32679     1
1234      1
20363     1
Name: 2018年, dtype: int64

### 保存数据

In [37]:
df.to_excel('data/city_GDP_2.xls')